@font-face {
    font-family: Pusab;
    src: url("font/PUSAB.otf") format("opentype");
} 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Pusab",sans-serif;
    color: #ffffff;
}
body{
    background-color: #111111;
}
.countdown {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    font-size: 500%;
    background-color: #171717;
}

.left {
    margin-left: 20%;
}

.right {
    margin-right: 20%;
}

.header {
    text-align: center;
    margin-top: 2%;
    font-size: 50px;
}